# Dependencies
node_modules/
.pnpm-store/

# Nx
.nx/cache/
.nx/workspace-data/

# Angular
.angular/cache/
dist/

# Gradle / Java
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Test & Coverage
coverage/

# Misc
*.log
tmp/
out-tsc/
